@import url("./__lang/header__lang.css");
@import url("./__logo/header__logo.css");
@import url("./__lang/_underline/header__lang_underline.css");

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    background-color: #2A2C2F;
    margin-bottom: 48px;
    margin-top: 30px;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .header {
        margin: 16px 0 48px 0;
    }
}